body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.register-container {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;
}

.register-image {
    width: 50%;
    height: 100vh;
    background-image: url('../public/herosection2.jpg');
    background-size: cover;
    background-position: center;
}

.register-form-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.register-card {
    background-color: white;
    width: 100%;
    max-width: 450px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.register-header {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.register-subtext {
    text-align: center;
    color: #666;
    margin-bottom: 20px;
}

.register-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.register-button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.register-button:hover {
    background-color: #218838;
}
